[submodule "lib/TrialData"]
	path = lib/TrialData
	url = https://github.com/mattperich/TrialData.git
[submodule "lib/ClassyDataAnalysis"]
	path = lib/ClassyDataAnalysis
	url = https://github.com/limblab/ClassyDataAnalysis.git
[submodule "lib/MechanisticSpindleManuscript"]
	path = lib/MechanisticSpindleManuscript
	url = https://github.com/kylepblum/MechanisticSpindleManuscript.git
